@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-1">Welcome to CaptianSocial.</h1>
    <p class="fw-bolder">Let's begin by signing you up!</p>
    <div class="d-flex align-items-center gap-3">
        <a class="btn btn-primary fw-bold" asp-area="" asp-controller="Authentication" asp-action="Signup">Signup</a>
        <a class="btn btn-outline-primary fw-bold" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
    </div>
</div>
